In [1]:
import pandas as pd
import json
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from pathlib import Path
import scipy.sparse as sparse
from lightfm import LightFM
from lightfm.cross_validation import random_train_test_split
from lightfm.evaluation import precision_at_k, recall_at_k
from lightfm.data import Dataset

In [12]:
df = pd.DataFrame({'Matrix': [0, 0, 1, 0, 1, 1], 
                   'Transformer': [0, 0, 1, 0, 1, 1],
                   'Bambi': [0, 1, 0, 0, 0, 0],
                    'Twilight': [0, 1, 1, 0, 0, 0],
                    'Pretty_women': [0, 1, 1, 0, 0, 0],
                    'Shrek': [0, 0, 0, 0, 1, 1]}, index=['Masha','Dasha','Natasha','Petya','Kolya', 'Vasya'])

In [18]:
data = {'sex': ['male','female']
       }

In [20]:
features = pd.DataFrame(data,  columns = ['sex'])

In [21]:
features

      sex
0    male
1  female

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, Masha to Vasya
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Matrix        6 non-null      int64
 1   Transformer   6 non-null      int64
 2   Bambi         6 non-null      int64
 3   Twilight      6 non-null      int64
 4   Pretty_women  6 non-null      int64
 5   Shrek         6 non-null      int64
dtypes: int64(6)
memory usage: 496.0+ bytes

In [9]:
sparse.coo_matrix(([1,2,3,4], ([1,3,5,4], [0,3,7,10]))).todense()

matrix([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4],
        [0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0]])