In [1]:
import pandas as pd
import json
from pathlib import Path

In [3]:
df_train = pd.read_csv(Path.cwd() / 'data' / 'train.csv')

C:\Users\Alex\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857895 entries, 0 to 857894
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   overall         857895 non-null  float64
 1   verified        857895 non-null  bool
 2   reviewTime      857895 non-null  object
 3   asin            857895 non-null  object
 4   reviewerName    857719 non-null  object
 5   reviewText      857616 non-null  object
 6   summary         857725 non-null  object
 7   unixReviewTime  857895 non-null  int64
 8   vote            118740 non-null  object
 9   style           444406 non-null  object
 10  image           7142 non-null    object
 11  userid          857895 non-null  int64
 12  itemid          857895 non-null  int64
 13  rating          857895 non-null  float64
dtypes: bool(1), float64(2), int64(3), object(8)
memory usage: 85.9+ MB

In [18]:
df_train.sample()

,overall,verified,reviewTime,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image,userid,itemid,rating
348718,3.0,True,"11 20, 2013",B000QSS260,skwoosh_fan,"Tasteless, expensive and I really don't feel a...","Tasteless, expensive......",1384905600,NaN,NaN,NaN,74391,4238,0.0

Проверим на дубликаты

In [9]:
res = df_train.duplicated().value_counts()

In [14]:
res[0]/(res[1]*100)

0.28623446132596686

Почти три процента дубликатов.

In [16]:
df_test = pd.read_csv(Path.cwd() / 'data' / 'test.csv')

C:\Users\Alex\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285965 entries, 0 to 285964
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   verified        285965 non-null  bool
 1   reviewTime      285965 non-null  object
 2   asin            285965 non-null  object
 3   reviewerName    285918 non-null  object
 4   unixReviewTime  285965 non-null  int64
 5   vote            39462 non-null   object
 6   style           147680 non-null  object
 7   image           2368 non-null    object
 8   userid          285965 non-null  int64
 9   itemid          285965 non-null  int64
 10  Id              285965 non-null  int64
dtypes: bool(1), int64(4), object(6)
memory usage: 22.1+ MB

In [22]:
df_test.duplicated().value_counts()

False    285965
dtype: int64

In [24]:
df_test.sample(5)

,verified,reviewTime,asin,reviewerName,unixReviewTime,vote,style,image,userid,itemid,Id
7226,True,"04 3, 2018",B0014EOU4S,lia,1522713600,NaN,"{'Size:': ' 11.5 Oz', 'Style:': ' Pack of 24'}",NaN,88227,6113,7226
227827,False,"06 27, 2013",B0048IH8AA,Sneaky Burrito,1372291200,4,{'Flavor:': ' Enriched Vanilla'},NaN,355,12920,227827
32693,False,"02 20, 2018",B00FTCFSOW,birdstorebird,1519084800,NaN,NaN,NaN,49434,25836,32693
155252,True,"01 26, 2015",B00NO5O9CI,onevoice,1422230400,NaN,NaN,NaN,34904,30777,155252
250324,True,"05 22, 2017",B0195GVX6Y,Gladys,1495411200,NaN,{'Flavor:': ' 4 Flavor High Octane'},NaN,64199,36250,250324